@model FutManager.Models.DreamTeam

<div>
    <h4>DreamTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            Goalkeeper
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goalkeeper.FirstName) @Html.DisplayFor(model => model.Goalkeeper.LastName)
        </dd>
        <dt class = "col-sm-2">
            Left Defender
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftDefender.FirstName) @Html.DisplayFor(model => model.LeftDefender.LastName)
        </dd>
        <dt class = "col-sm-2">
            Right Defender
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightDefender.FirstName) @Html.DisplayFor(model => model.RightDefender.LastName) 
        </dd>
        <dt class = "col-sm-2">
            Left Midfielder
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftMidfielder.FirstName) @Html.DisplayFor(model => model.LeftMidfielder.LastName)
        </dd>
        <dt class = "col-sm-2">
            Right Midfielder
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightMidfielder.FirstName) @Html.DisplayFor(model => model.RightMidfielder.LastName) 
        </dd>
        <dt class = "col-sm-2">
            Left Forward
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftForward.FirstName) @Html.DisplayFor(model => model.LeftForward.LastName)
        </dd>
        <dt class = "col-sm-2">
            Right Forward
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightForward.FirstName) @Html.DisplayFor(model => model.RightForward.LastName)
        </dd>
        <dt class = "col-sm-2">
            Manager
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
