@model FutManager.Data.DraftAndPlayersAndManager

<h4>DraftAndPlayersAndManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="Goalkeeper" class="control-label">Goalkeeper</label>
                <select class="form-control" name="Goalkeeper">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.GoalKeepers[0].FisrtName @Model.GoalKeepers[0].LastName</option>
                    <option value="1">@Model.GoalKeepers[1].FisrtName @Model.GoalKeepers[1].LastName</option>
                    <option value="2">@Model.GoalKeepers[2].FisrtName @Model.GoalKeepers[2].LastName</option> 
                    <option value="3">@Model.GoalKeepers[3].FisrtName @Model.GoalKeepers[3].LastName</option> 
                </select>
            </div>
            <!--
            <div class="form-group">
                <label name="LeftDefender" class="control-label">Left Defender</label>
                <select class="form-control" name="LeftDefender">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.LeftDefenders[0].FisrtName @Model.LeftDefenders[0].LastName</option>
                    <option value="1">@Model.LeftDefenders[1].FisrtName @Model.LeftDefenders[1].LastName</option>
                    <option value="2">@Model.LeftDefenders[2].FisrtName @Model.LeftDefenders[2].LastName</option> 
                    <option value="3">@Model.LeftDefenders[3].FisrtName @Model.LeftDefenders[3].LastName</option> 
                </select>
            </div>
            <div class="form-group">
                <label name="RightDefender" class="control-label">Right Defender</label>
                <select class="form-control" name="RightDefender">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.RightDefenders[0].FisrtName @Model.RightDefenders[0].LastName</option>
                    <option value="1">@Model.RightDefenders[1].FisrtName @Model.RightDefenders[1].LastName</option>
                    <option value="2">@Model.RightDefenders[2].FisrtName @Model.RightDefenders[2].LastName</option> 
                    <option value="3">@Model.RightDefenders[3].FisrtName @Model.RightDefenders[3].LastName</option> 
                </select>
            </div>
            -->
            <!--<div class="form-group">
                <label name="LeftMidfielder" class="control-label">Left Midfielder</label>
                <select class="form-control" name="LeftMidfielder">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.LeftMidfielders[0].FisrtName @Model.LeftMidfielders[0].LastName</option>
                    <option value="1">@Model.LeftMidfielders[1].FisrtName @Model.LeftMidfielders[1].LastName</option>
                    <option value="2">@Model.LeftMidfielders[2].FisrtName @Model.LeftMidfielders[2].LastName</option> 
                    <option value="3">@Model.LeftMidfielders[3].FisrtName @Model.LeftMidfielders[3].LastName</option> 
                </select>
            </div>
            <div class="form-group">
                <label name="RightMidfielder" class="control-label">Right Midfileder</label>
                <select class="form-control" name="RightMidfielder">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.RightMidfielders[0].FisrtName @Model.RightMidfielders[0].LastName</option>
                    <option value="1">@Model.RightMidfielders[1].FisrtName @Model.RightMidfielders[1].LastName</option>
                    <option value="2">@Model.RightMidfielders[2].FisrtName @Model.RightMidfielders[2].LastName</option> 
                    <option value="3">@Model.RightMidfielders[3].FisrtName @Model.RightMidfielders[3].LastName</option> 
                </select>
            </div>
            -->
            <div class="form-group">
                <label name="LeftForwards" class="control-label">Left Forwards</label>
                <select class="form-control" name="LeftForwards">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.LeftForwards[0].FisrtName @Model.LeftForwards[0].LastName</option>
                    <option value="1">@Model.LeftForwards[1].FisrtName @Model.LeftForwards[1].LastName</option>
                    <option value="2">@Model.LeftForwards[2].FisrtName @Model.LeftForwards[2].LastName</option> 
                    <option value="3">@Model.LeftForwards[3].FisrtName @Model.LeftForwards[3].LastName</option> 
                </select>
            </div>
            <div class="form-group">
                <label name="RightForwards" class="control-label">Right Forwards</label>
                <select class="form-control" name="RightForwards">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="0">@Model.RightForwards[0].FisrtName @Model.RightForwards[0].LastName</option>
                    <option value="1">@Model.RightForwards[1].FisrtName @Model.RightForwards[1].LastName</option>
                    <option value="2">@Model.RightForwards[2].FisrtName @Model.RightForwards[2].LastName</option> 
                    <option value="3">@Model.RightForwards[3].FisrtName @Model.RightForwards[3].LastName</option> 
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
