@model FutManager.Data.PlayerAndClubsAndNations

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="player.FisrtName" class="control-label"></label>
                <input asp-for="player.FisrtName" class="form-control" name="first_name"/>
                <span asp-validation-for="player.FisrtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.LastName" class="control-label"></label>
                <input asp-for="player.LastName" class="form-control" name="last_name"/>
                <span asp-validation-for="player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.Position" class="control-label"></label>
                <select asp-for="player.Position" class="form-control" name="position">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="Goalkeeper">Goalkeeper</option>
                    <option value="Defender">Defender</option>
                    <option value="Midfielder">Midfielder</option> 
                    <option value="Forward">Forward</option> 
                </select>
                <span asp-validation-for="player.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.Age" class="control-label"></label>
                <input asp-for="player.Age" class="form-control" name="age"/>
                <span asp-validation-for="player.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.ShirtNumber" class="control-label"></label>
                <input asp-for="player.ShirtNumber" class="form-control" name="shirtnumber"/>
                <span asp-validation-for="player.ShirtNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.NationalityId" class="control-label"></label>
                <select asp-for="player.NationalityId" class="form-control" name="nationalityId">
                    <option value="" selected disabled hidden>Choose here</option>
                    @foreach(var item in Model.Nations)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="player.NationalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.ClubId" class="control-label"></label>
                <select asp-for="player.ClubId" class="form-control" name="clubId">
                    <option value="" selected disabled hidden>Choose here</option>
                    @foreach(var item in Model.Clubs)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="player.ClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player.Overall" class="control-label"></label>
                <input asp-for="player.Overall" class="form-control" name="overall"/>
                <span asp-validation-for="player.Overall" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="player.isReal" name="isReal"/> @Html.DisplayNameFor(model => model.player.isReal)
                </label>
            </div>
            <<div class="form-group">
                <div>
                    <label class="control-label">Password</label>
                </div>
                <div >
                    <input class="form-control" type="password" name="password" />
                </div>
                <input type="hidden" value = @Model.player.Id name="id">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
